<%- include('./partials/header') %>
<link rel = "stylesheet" href = "curvedText.css">
<h1>
    <span class="c1">R</span>
    <span class="c2">E</span>
    <span class="c3">F</span>
    <span class="c4">L</span>
    <span class="c5">E</span>
    <span class="c6">C</span>
    <span class="c7">T</span>
    <span class="c8"> </span>
    <span class="c9">&</span>
    <span class="c10"> </span>
    <span class="c11">G</span>
    <span class="c12">R</span>
    <span class="c13">O</span>
    <span class="c14">W</span>
    </h1>
<img src="https://totemsurftribe.files.wordpress.com/2024/03/e28094pngtreee28094moon-phase-geometric-black-figure_6491358.png?resize=438%2C438">




  
<%- include('./partials/footer') %>