#show-page,
#edit-goal-page,
#new-goal-page,
#index-page
 {
  /* From https://css.glass */
  background: rgba(81, 81, 88, 0.308);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(224, 224, 224, 0.894);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 5px dotted rgba(255, 255, 255, 0.44);
}

#goals-show-img {
  height: 111px;
  position: relative;
  justify-content: center;
  align-items: center;
}

#journalprompts-show-page,
* {
  box-sizing: border-box;
  color: #f4f4f8;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}
h2 {
  font-family: "Anybody", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}

h1 span {
  font-family: "Aladin", system-ui;
  font-size: 30px;
  transform-origin: bottom;
  height: 300px;
  width: 50px;
  top: 50;
  position: absolute
}

.c1 {
  transform: rotate(0deg);
}

.c2 {
  transform: rotate(6deg);
}

.c3 {
  transform: rotate(12deg);
}

.c4 {
  transform: rotate(18deg);
}

.c5 {
  transform: rotate(24deg);
}

.c6 {
  transform: rotate(30deg);
}

.c7 {
  transform: rotate(36deg);
}

.c8 {
  transform: rotate(42deg);
}

.c9 {
  transform: rotate(48deg);
}

.c10 {
  transform: rotate(54deg);
}

.c11 {
  transform: rotate(60deg);
}

.c12 {
  transform: rotate(66deg);
}

.c13 {
  transform: rotate(72deg);
}

.c14 {
  transform: rotate(78deg);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

#index-phase {
height: 216px;
 float: center;
 justify-content: flex-end;
 
}

#show-box-moon {
  float: right;
  padding-right: 2rem;

}


/* //https://yizhiyue.me/2019/07/11/draw-a-sticky-note-using-html-and-css// */
.container {
  margin: 5px;
  border-radius: 50%;
  background:#fcb900;;
  height: 20vh;
  width: 20vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: .5px solid;
  box-shadow: 0 4px 30px rgb(196, 193, 193);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px dotted rgba(245, 242, 242, 0.906);
}

.paper {
  border: 1px dotted;
  border-top-right-radius: 68px 2px;
  border-top-left-radius: 2px 53px;
  border-bottom-right-radius: 2px 73px;
  border-bottom-left-radius: 78px 1.3px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  font-family: "Aladin", serif;
}

.sticky-notes {
  background-color: #ff6900;
  height: 80px;
  width: 100px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg);
  position: relative;
}

badge#moon-magic {
font-family: "Over the Rainbow", cursive;
text-size-adjust: smaller ;
  background-color: rgb(91, 155, 129);
  color: rgb(251, 247, 247);
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  max-width: 33rem;
  box-shadow: 0 4px 30px rgb(196, 193, 193);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px dotted rgba(245, 242, 242, 0.906);
}


body {
  background-color: #f8f2e1;
  font-family: "Inter Tight";
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {
  font-family: "Ojuju", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222121;
  grid-area: nav;
  background-color: #dcdbd7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>img {
  width: 300px;
  object-fit: contain;
  margin-right: auto;
}


body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252524;
  padding: 20px;
  overflow-y: scroll;
  border-style: groove;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

nav>a {
  color: #000;
  color-scheme: gray;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover:not(.active) {
  color: rgb(9, 9, 9);
  background-color: #a19c96;
}

nav>a.active {
  color: rgb(87, 84, 84);
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-goal-form *,
#add-journalEntry-form *,
#update-journalEntry-form *,
#edit-goal-form * {
  font-family: "Noto Sans Display";
  color: #82b6ee;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
  border-style: dotted white;
  width: auto;
  grid-column: span 2;
}

#update-journalEntry-form [type="submit"],
#delete-journalEntry-form [type="submit"],
#edit-goal-form [type="submit"] {
  font-family:  "Noto Sans Display";
  color: #030303;
  font-size: 16px;
  padding: 2px;
  border-radius: 20px;
  border-style: dotted white;
  grid-column: span 1;
  width: auto;
  height: max-content;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a
{
  border-radius: 4px;
  background-color: #d2bdee;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
  border: .5px dotted #c4c2c2;
  box-shadow: 0 4px 30px rgb(196, 193, 193);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px dotted rgba(245, 242, 242, 0.906);
}
#list a {
  border-radius: 4px;
  background-color: #d2bdee;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
  border: .5px dotted #c4c2c2;
  box-shadow: 0 4px 30px rgb(196, 193, 193);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px dotted rgba(245, 242, 242, 0.906);
}

#list a:hover {
  background-color: #f4cae4;
}

#delete-goal [type=submit] {
  font-family: "Noto Sans Display";
  background-color: #62616186;
  padding: 4px;
  font-size: 18px;
  border-radius: 4px;
  border: #f4f4f8 .4px dotted;
}

#delete-goal [type=submit]:hover {
  background-color: #b5dde4;
}

#list a.done-button {
  border-radius: 4px;
  background-color: #d2bdee; 
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
  border: .5px dotted #c4c2c2;
  box-shadow: 0 4px 30px rgb(196, 193, 193);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px dotted rgba(245, 242, 242, 0.906);
}

#list a.done-button:hover {
  background-color: #f4cae4; 
}

#delete-goal [type=submit]{
  font-family:  "Noto Sans Display";
  background-color: #62616186;
  padding: 4px;
  font-size: 18px;
  border-radius: 4px;
  border:#f4f4f8 .4px dotted;
}
#delete-goal [type=submit]:hover{
  background-color: #b5dde4;
}

#list a:hover{
  background-color: #f4cae4;
}


#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}


#show-page div:nth-child(all) {
  font-size: 20px;
  font-weight: bold;
}


#add-journalEntry-form,
#update-journalEntry-form {
  size: 5rem;
  display: inline-flex;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

#add-journalEntry-form button[type="submit"],
#update-journalEntry-form input[type="submit"],
#delete-journalEntry-form button [type="submit"] {
  width: 5rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#show-page {
  font-family: "Inter Tight";
  font-size: 40px;
}
span.badge {
  background-color: rgb(51, 52, 52);
  color: rgb(251, 247, 247);
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  font-family: "Ojuju", sans-serif;


}

#show-page.goal-box {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
  float: right;
}

#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

/* .edit-goal-page {
  background-image: url(https://totemsurftribe.files.wordpress.com/2024/03/360_f_345169850_blsuxwypbn8f8mujbcg5qvzcrxssclb4.jpg?resize=438%2C438);
} */